:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
    --clr-neon: hsl(317 100% 54%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body { 
    background-color: var(--bg-color);
    max-width: 1000px;
    margin: 0 auto;
}

/* -- ↓ ↓ ↓ myself ↓ ↓ ↓  -- */

h1 {
    color: rgb(240, 240, 240);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 50px 30px 30px 30px;
}

h2 {
    color: rgb(240, 240, 240);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.myself {
    color: rgb(240, 240, 240);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0 30px 75px 30px;
    line-height: 1.5;
}

b {
    color:  rgb(150, 70, 160);
}

.myself > p {
    text-align: justify;
}

.me {
    float: right;
    color: rgba(240, 240, 240, 0.3);
    margin: 10px 0 20px 35px;
}

/* -- ↓ ↓ ↓ cards ↓ ↓ ↓  -- */

#cards-wrap {
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    display: flex;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;  
    max-width: 916px;
    width: calc(100% - 20px);
}

#cards:hover > .card::after {
    opacity: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    width: 300px;  
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient(
        700px circle at var(--mouse-x) var(--mouse-y), 
        rgb(255, 255, 255, 0.2),
        transparent 40%
    );
    z-index: 3;
}

.card::after {  
    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.4),
        transparent 40%
    );
    z-index: 1;
}

.card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

.card-a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

h3, h4, span {
    color: rgb(240, 240, 240);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0px;
}

i {  
    color: rgb(240, 240, 240);
}

.card-image {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
    overflow: hidden;
}

.card-image > i {
    font-size: 6em;
    opacity: 0.25;
}

.card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 20px;
}

.card-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
}

.card-info-title > h3 {
    font-size: 1.1em;
    line-height: 20px;
}

.card-info-title > h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 8px;
}

/* -- ↓ ↓ ↓ card responsiveness ↓ ↓ ↓ -- */

@media(max-width: 1000px) {
    #cards-wrap {
        align-items: flex-start;  
        overflow: auto;
    }

    #cards {    
        max-width: 1000px;
        padding: 10px 0px;
    }

    .card {
        flex-shrink: 1;
        width: calc(50% - 4px);
    }
    }

@media(max-width: 500px) {
    .card {
        height: 180px;
    }

    .card-image {
        height: 80px;  
    }

    .card-image > i {
        font-size: 3em;
    }
        
    .card-info-wrapper {
        padding: 0px 10px;
    }

    .card-info-title > h3 {
        font-size: 0.9em;
    }

    .card-info-title > h4 {
        font-size: 0.8em;
        margin-top: 4px;
    }
}

@media(max-width: 320px) {
    .card {
        width: 100%;
    }
}


/* -- ↓ ↓ ↓ Neon Button ↓ ↓ ↓ -- */

#button-wrap-l {
    position: relative;
    top: 75px;
    margin-left: 45px;
    float: left;
}

#button-wrap-r {
    position: relative;
    top: 75px;
    margin-right: 45px;
    float: right;
}

.neon-button {
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

    position: relative;
    margin-bottom: 100px;
}
  
.neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}
  
.neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
}
  
.neon-button:hover,
.neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
}
  
.neon-button:hover::before,
.neon-button:focus::before {
    opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
    opacity: 1;
}