
/* for later uses: if I want to make good looking tags */
.ltgt {
    color: lightgray
}
.tagname {
    color: orangered;
}


nav {
    background-color:#122841;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 10px -5px black; /* horizontal-offset vertical blur spread(smaller/bigger shadow) color */
}   

nav a {
    float: left;
    display: block;
    color: #ddd;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

nav a.active {
    background-color: #050b13;
}

nav a:hover:not(a.active) {
    color: #ddd;
    background-color: #5a3f83;
}

nav a.icon {
    display: none;
}




.flex-container {
    margin: 1rem auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.main {
    flex: 75%;
    padding: 0rem 1rem;
    border: 2px solid #293847;
    border-radius: 5px;
    background-color: #293847;
}

.aside {
    flex: 25%;
    margin-left: 2.5rem;
    padding: 0 1rem;
    border: 2px solid #293847;
    border-radius: 5px;
    background-color: #293847;
}

.quote {
    margin-bottom: 2rem;
}

hr {
    border: none;
    background-color: #ccc;
    height: 1px;
}

/* on mobile nav links on dropdown, responsive (flex-)boxes and header */
@media screen and (max-width: 768px) {
    nav a:not(:first-child) {
        display: none;
    }
    nav a.icon {
        float: right;
        display: block;
    }
    nav.responsive {
        position: relative;
    }
    nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    header {
        background-position: 50% 65%;
        background-size: 400px;
        height: 15vh;
    }
    header h1 {
        font-size: 2.1rem;
    }

    .flex-container {
        flex-direction: column;
    }
    .aside {
        margin: 1rem 0;
    }
}

@media screen and (min-width: 768px) {
    header {
        background-position: 50% 55%;
        background-size: 750px;
    }
    header h1 {
        font-size: 3rem;
    }

    .flex-container {
        width: 600px;
    }
}

@media screen and (min-width: 992px) {
    header {
        background-position: 50%;
        background-size: 1000px;
    }
    header h1 {
        font-size: 3rem;
    }

    .flex-container {
        width: 800px;
    }
}

@media screen and (min-width: 1200px) {
    .flex-container {
        width: 1100px;
    }
}
